{% extends 'base.html.twig' %}

{% block title %}
	Mondrian
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/mondrian/style.css') }}" />
{% endblock %}

{% block body %}
	<header>
		{% block header %}
			<nav>
				{% block nav %}
					<a class="home" href="{{ path('app_homepage') }}">Home</a>
					<span class="material-icons">navigate_next</span>
					<a href="">Mondrian</a>
					{% if app.user %}
						<a href="{{ path('app_logout') }}">Logout</a>
					{% endif %}
				{% endblock %}
			</nav>

			{% block login %}
				{{ parent() }}
			{% endblock %}
		{% endblock %}
	</header>

	<main class="mondrian transparent">
		{% block main %}
			<div class="main-container">
				<div class="description">
					<p>
						Reproduction de l'œuvre,
						<a href="https://www.piet-mondrian.org/composition-with-large-red-plane-yellow-black-gray-and-blue.jsp#prettyPhoto"
							target="_blank">
							Composition en rouge, jaune, bleu et noir
						</a> de <i>Piet Mondrian</i>, en html et css.
					</p>
				</div>
				<ul class="picture-list">
					<li class="picture">
						<img src="{{ asset('images/mondrian.jpg') }}" alt="œuvre original" class="original-picture" />
						<p class="picture-label">
							Originale
						</p>
					</li>
					<li id="picture2" class="picture">
						{% include 'mondrian/draw.html.twig' %}
						<p class="picture-label">
							Reproduction
						</p>
					</li>
				</ul>
			</div>
		{% endblock %}
	</main>
{% endblock %}
