{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/calendar/style.css') }}" />
	<link rel="stylesheet" href="{{ asset('styles/calendar/index.css') }}" />
	<link rel="stylesheet" href="{{ asset('styles/calendar/showEvent.css') }}" />
	<link rel="stylesheet" href="{{ asset('styles/calendar/form.css') }}" />
	<link rel="stylesheet" href="{{ asset('styles/calendar/eventForm.css') }}" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/calendar/functions.js') }}"></script>
	<script src="{{ asset('js/calendar/shortcuts.js') }}"></script>
	<script src="{{ asset('js/calendar/notify.js') }}"></script>
	<script src="{{ asset('js/calendar/currentDate.js') }}"></script>
	<script src="{{ asset('js/calendar/script.js') }}"></script>
{% endblock %}

{% block body %}
	{% include 'calendar/events.html.twig' %}
	<header>
		{% block header %}
			<nav>
				{% block nav %}
					<a class="home" href="{{ path('app_homepage') }}">Home</a>
					<span class="material-icons">navigate_next</span>
					<a href="{{ path('calendar') }}">Calendar</a>
					<div class="actions">
						<a href="{{ path('calendar') }}">
							<abbr title="Calendar"><span class="material-icons">calendar_month</span></abbr>
						</a>
						<a href="{{ path('history') }}">
							<abbr title="Past events"><span class="material-icons">history</span></abbr>
						</a>
						<a href="{{ path('event_new') }}">
							<abbr title="New event"><span class="material-icons">add_box</span></abbr>
						</a>
						<a href="{{ path('category_new') }}">
							<abbr title="New category"><span class="material-icons">category</span></abbr>
						</a>
					</div>
				{% endblock %}
			</nav>

			{% block header_content %}
				<div id="searchForm" class="filter">
					<input id="filter-search" type="text" placeholder="Search" />
					<a href="{{
						path(
							'results',
							{
								search_query: ''
							}
						)
						}}"
						id="filter-button"
						class="material-icons">
						search
					</a>
				</div>

				<div id="currentDateTime">
					<p class="date"></p>
					<p class="time"></p>
				</div>
			{% endblock %}

			{% block login %}
				{{ parent() }}
			{% endblock %}
		{% endblock %}
	</header>

	{% block main %}
		<main class="show">
			<aside>
				<h1>
					<time datetime="{{ event.getAbsoluteDate() }}"></time>
				</h1>
			</aside>
			<div class="main-container">
				<div class="event-show">
					<div class="header-line line">
						<div class="datetime">
							<p>
								{{ date }}
							</p>
							<p>
								{{ time }}
							</p>
						</div>
						{% if event.getParentEvent() %}
							<p class="parent-event">
								<a href="{{
									path(
										'event_show',
										{
											id: event.getParentEvent.getId()
										}
									)
									}}">
									{{ event.getParentEvent.getTitle() }}
								</a>
							</p>
						{% endif %}
						<div class="links">
							<a href="{{
								path(
									'event_edit',
									{
										id: event.getId()
									}
								)
								}}">
								Edit
							</a>

							<form class="delete"
								method="post"
								action="{{
								path(
									'event_delete',
									{
										id: event.id
									}
								)
								}}"
								onsubmit="return confirm('Are you sure you want to delete this item?');">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}" />
								<button>Delete</button>
							</form>
						</div>
					</div>
					<div class="title-line line">
						<h2 class="title">
							{{ event.getTitle() }}
						</h2>
					</div>
					<div class="category-line line">
						{% for category in event.getCategories() %}
							<p class="category">
								{{ category }}
							</p>
						{% endfor %}
					</div>
					<div class="description-line line">
						<div class="description">
							{{ event.getDescription()|nl2br }}
						</div>
					</div>
					<ul class="links-line line">
						{% for link in event.getLinks() %}
							<a class="link {{ link.getType()|lower }}" href="{{ link.getUrl() }}" target="_blank">
								<abbr title="{{ link.getTitle() }}" class="material-icons">{{ link }}</abbr>
							</a>
						{% endfor %}
						{% for link in event.getParentLinks() %}
							<a class="link {{ link.getType()|lower }}" href="{{ link.getUrl() }}" target="_blank">
								<abbr title="{{ link.getTitle() }}" class="material-icons">{{ link }}</abbr>
							</a>
						{% endfor %}
						<a href="{{
							path(
								'link_new',
								{
									eventId: event.getId()
								}
							)
							}}"
							class="link add-link">
							<abbr title="Add link" class="material-icons">add_circle</abbr>
						</a>
					</ul>
				</div>
			</div>
		</main>
	{% endblock %}
{% endblock %}
