<div id="eventList" style="display: none">
	<div class="table">
		<div class="table-header row">
			<div class="part-1">
				<h3 class="buttons cell"></h3>
				<h3 class="datetime cell">
					Date
				</h3>
				<h3 class="category cell">
					Category
				</h3>
			</div>
			<div class="part-2">
				<h3 class="title cell">
					Title
				</h3>
				<h3 class="links cell">
					Links
				</h3>
			</div>
		</div>
		<div class="table-content">
			{% for event in allEvents %}
				<div class="row event">
					<div class="part-1">
						<div class="buttons cell">
							<a class="show"
								href="{{
								path(
									'event_show',
									{
										id: event.getId()
									}
								)
								}}">
								<span class="material-icons button">visibility</span>
							</a>

							<a class="edit"
								href="{{
								path(
									'event_edit',
									{
										id: event.getId()
									}
								)
								}}">
								<span class="material-icons button">edit</span>
							</a>

							<form class="delete"
								method="POST"
								action="{{
								path(
									'event_delete',
									{
										id: event.id
									}
								)
								}}"
								onsubmit="return confirm('Are you sure you want to delete this item?');">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}" />
								<button class="material-icons button">delete</button>
							</form>
						</div>

						<div class="datetime">
							<time class="datetime-relative" datetime="{{ event.getAbsoluteDate() }}"></time>
							<time class="datetime-absolute" datetime="{{ event.getAbsoluteDate() }}">
								<p class="date"></p>
								<p class="time"></p>
							</time>
						</div>
						<p class="category cell">
							<!-- On affiche les categories de l'event -->
							{% for category in event.getCategories() %}
								{{ category }}
							{% endfor %}

							<!-- Si l'event a un parentEvent -->
							{% if event.getParentEvent() %}
								<!-- Si l'event n'a pas de categorie, alors on affiche les catégories de son parent -->
								{% if (event.getCategories()|length) == 0 %}
									{% for category in event.getParentEvent().getCategories() %}
										{{ category }}
									{% endfor %}
								{% endif %}

								<!-- On affiche le titre de son parent après les catégories de l'event -->
								-
								<a href="{{
									path(
										'event_show',
										{
											id: event.getParentEvent().getId()
										}
									)
									}}">
									{{ event.getParentEvent().getTitle() }}
								</a>
							{% endif %}
						</p>
					</div>

					<div class="part-2">
						<p class="title cell">
							<a href="{{
								path(
									'event_show',
									{
										id: event.getId()
									}
								)
								}}">
								{{ event.getTitle() }}
							</a>
						</p>
						<ul class="links">
							{% for link in event.getLinks() %}
								<a class="link {{ link.getType()|lower }}" href="{{ link.getUrl() }}" target="_blank">
									<abbr title="{{ link.getTitle() }}" class="material-icons">{{ link }}</abbr>
								</a>
							{% endfor %}
							<a href="{{
								path(
									'link_new',
									{
										eventId: event.getId()
									}
								)
								}}"
								class="link add-link">
								<abbr title="Add link" class="material-icons">add_circle</abbr>
							</a>
						</ul>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
