{% extends 'base.html.twig' %}

{% block meta_description %}
	"Découvrez mon projet du jeu de la vie."
{% endblock %}

{% block title %}
	Game of life
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/gameoflife/Grid.js') }}"></script>
	<script src="{{ asset('js/gameoflife/script.js') }}"></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/gameoflife/style.css') }}" />
{% endblock %}

{% block body %}
	<header>
		{% block header %}
			<nav>
				{% block nav %}
					<a class="home" href="{{ path('app_homepage') }}">Home</a>
					<span class="material-icons">navigate_next</span>
					<a href="">Game of life</a>
					{% if app.user %}
						<a href="{{ path('app_logout') }}">Logout</a>
					{% endif %}
				{% endblock %}
			</nav>

			{% block login %}
				{{ parent() }}
			{% endblock %}
		{% endblock %}
	</header>

	<main class="transparent">
		{% block main %}
			<div class="main-container">
				<div class="grid"></div>
				<div class="options">
					<div class="field">
						<label for="height">Lignes</label>
						<input type="number" id="height" value="10" />
					</div>
					<div class="field">
						<label for="width">Colonnes</label>
						<input type="number" id="width" value="20" />
					</div>
					<button id="startButton" type="submit">Start</button>
				</div>
			</div>
		{% endblock %}
	</main>
{% endblock %}
