<form method="post"
	action="{{
	path(
		'link_delete',
		{
			id: link.id
		}
	)
	}}"
	onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ link.id) }}" />
	<button class="btn">Delete</button>
</form>
