{{ form_start(form, {'attr': {'id': 'form', 'class': 'form'}}) }}

<div class="form-container">
    <section class="informations">
        <fieldset>
            <div class="field link-url">
                {{ form_label(form.url, 'Url') }}
                {{ form_widget(form.url, { type: 'url' }) }}
            </div>
            <div class="field link-title">
                {{ form_label(form.title, 'Title') }}
                {{ form_widget(form.title) }}
            </div>
            <div class="field link-type">
                {{ form_label(form.type, 'Type') }}
                {{ form_widget(form.type) }}
            </div>
        </fieldset>
    </section>
</div>

<div class="form-footer">
    <button type="submit" class="submit-button">Submit</button>
</div>

{{ form_end(form) }}
