{% extends 'base.html.twig' %}

{% block title %}
	Edit Link
{% endblock %}

{% block body %}
	<h1>
		Edit Link
	</h1>

	{{
		include(
			'link/_form.html.twig',
			{
				button_label: 'Update'
			}
		)
	}}

	{{ include('link/_delete_form.html.twig') }}
{% endblock %}
