{% extends 'calendar/base.html.twig' %}

{% block title %}
	New Link
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/calendar/form.css') }}" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<main class="jcs">
		<aside>
			<h1>
				New Link
			</h1>
		</aside>
		<div class="main-container">
			{{ include('calendar/link/_form.html.twig') }}
		</div>
	</main>
{% endblock %}
