{% extends 'base.html.twig' %}

{% block title %}
	Link
{% endblock %}

{% block body %}
	{{ parent() }}

	<h1>
		Link
	</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>
					Id
				</th>
				<td>
					{{ link.id }}
				</td>
			</tr>
			<tr>
				<th>
					Title
				</th>
				<td>
					{{ link.title }}
				</td>
			</tr>
			<tr>
				<th>
					Url
				</th>
				<td>
					{{ link.url }}
				</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('link_index') }}">back to list</a>

	<a href="{{
		path(
			'link_edit',
			{
				id: link.id
			}
		)
		}}">
		edit
	</a>

	{{ include('link/_delete_form.html.twig') }}
{% endblock %}
