{% extends 'base.html.twig' %}

{% block title %}
	Log in
{% endblock %}

{% block nav %}
	{{ parent() }}
	<span class="material-icons">navigate_next</span>
	<a class="two" href="{{ path('app_login') }}">Login</a>
{% endblock %}

{% block main %}
	<main class="login">
		<h1 class="h3 mb-3 font-weight-normal">
			Sign in
		</h1>

		<form class="login-form" method="post">
			{% if error %}
				<div class="alert alert-danger">
					{{ error.messageKey|trans(error.messageData, 'security') }}
				</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}

			<div>
				<label for="inputEmail">Email</label>
				<input type="email"
					value="{{ last_username }}"
					name="email"
					id="inputEmail"
					class="form-control"
					autocomplete="email"
					required
					autofocus />
			</div>

			<div>
				<label for="inputPassword">Password</label>
				<input type="password"
					name="password"
					id="inputPassword"
					class="form-control"
					autocomplete="current-password"
					required />
			</div>

			<div class="button-div">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

				{#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

		<div class="checkbox mb-3">
            <label><input type="checkbox" name="_remember_me" />Remember me</label>
		</div>
        #}

				<button class="btn btn-lg btn-primary submit" type="submit">Sign in</button>
			</div>
		</form>

		<div class="register option">
			<p>
				Don't have an account ?
			</p>
			<a href="{{ path('app_register') }}">Register</a>
		</div>
	</main>
{% endblock %}
