{% extends 'base.html.twig' %}

{% block title %}
	Register
{% endblock %}

{% block nav %}
	{{ parent() }}
	<span class="material-icons">navigate_next</span>
	<a class="two" href="{{ path('app_register') }}">Register</a>
{% endblock %}

{% block main %}
	<main class="register">
		<h1>
			Register
		</h1>

		{{
			form_start(
				registrationForm,
				{
					attr: {
						class: 'registration-form'
					}
				}
			)
		}}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.username) }}
		{{
			form_row(
				registrationForm.plainPassword,
				{
					label: 'Password'
				}
			)
		}}
		{{ form_row(registrationForm.pictureFile) }}
		{{ form_row(registrationForm.agreeTerms) }}

		<div class="button-div">
			<button type="submit" class="btn submit">Register</button>
			{{ form_end(registrationForm) }}
		</div>

		<div class="login option">
			<p>
				Already have an account ?
			</p>
			<a href="{{ path('app_login') }}">Login</a>
		</div>
	</main>
{% endblock %}
