{% extends 'base.html.twig' %}

{% block title %}
	Mines
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/index.js') }}"></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/mines/index.css') }}" />
	<link rel="stylesheet" href="{{ asset('styles/mines/style.css') }}" />
{% endblock %}

{% block nav %}
	<a class="home one" href="{{ path('app_homepage') }}">Home</a>
	<span class="material-icons">navigate_next</span>
	<a class="two" href="{{ path('app_mines') }}">Mines</a>
{% endblock %}
