{% extends 'mines/base.html.twig' %}

{% block javascripts %}
	<script src="{{ asset('js/index.js') }}"></script>
{% endblock %}

{% block main %}
	<main class="transparent center-flex">
		<div class="main-container">
			<a href="{{
				path(
					'app_minesPlay',
					{
						height: 8,
						width: 8,
						mines: 10
					}
				)
				}}">
				<button><b>Facile</b><br />(8×8 : 10 mines)</button>
			</a>
			<a href="{{
				path(
					'app_minesPlay',
					{
						height: 16,
						width: 16,
						mines: 40
					}
				)
				}}">
				<button><b>Moyen</b><br />(16×16 : 40 mines)</button>
			</a>
			<a href="{{
				path(
					'app_minesPlay',
					{
						height: 16,
						width: 30,
						mines: 99
					}
				)
				}}">
				<button><b>Difficile</b><br />(16×30 : 99 mines)</button>
			</a>
			<a href="{{ path('app_minesSettings') }}"><button><b>Personalisé</b></button></a>
		</div>
	</main>
{% endblock %}
