{% extends 'mines/base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/mines/Case.js') }}"></script>
	<script src="{{ asset('js/mines/Grid.js') }}"></script>
	<script src="{{ asset('js/mines/Game.js') }}"></script>
	<script src="{{ asset('js/mines/cookie.js') }}"></script>
	<script src="{{ asset('js/mines/script.js') }}"></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/mines/mine.css') }}" />
{% endblock %}

{% block main %}
	<main class="transparent">
		<div class="main-content">
			<div class="top">
				<a href="{{ path('app_mines') }}"><button>Menu principal</button></a>
				<a href="{{
					path(
						'app_minesPlay',
						{
							height: app.request.get('height'),
							width: app.request.get('width'),
							mines: app.request.get('mines')
						}
					)
					}}">
					<button>Rejouer</button>
				</a>
			</div>
			<div id="grid"
				height="{{ app.request.get('height') }}"
				width="{{ app.request.get('width') }}"
				mines="{{ app.request.get('mines') }}">
				{% for iRow in range(1, app.request.get('height')) %}
					<div class="line">
						{% for iColumn in range(1, app.request.get('width')) %}
							<div class="cell"></div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
			<div class="bottom">
				<h2 id="bottom-text"></h2>
			</div>
		</div>
	</main>
{% endblock %}
