{% extends 'mines/base.html.twig' %}

{% block title %}
	{{ parent() }} - Options
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/mines/index.js') }}"></script>
	<script src="{{ asset('js/mines/settings.js') }}"></script>
{% endblock %}

{% block main %}
	<main class="transparent center-flex">
		<div class="main-content">
			<form action="{{ path('app_minesPlay') }}" method="get" class="form" enctype="multipart/form-data">
				<div class="form-container">
					<section class="game-informations">
						<fieldset>
							<legend class="text-center">
								<b>Options</b>
							</legend>

							<div class="field height">
								<label for="height">Height</label>
								<input id="heightInput"
									type="number"
									name="height"
									min="4"
									max="40"
									step="1"
									value="7"
									required />
							</div>

							<div class="field width">
								<label for="width">Width</label>
								<input id="widthInput"
									type="number"
									name="width"
									min="4"
									max="40"
									step="1"
									value="7"
									required />
							</div>

							<div class="field mines">
								<label for="mines">Mines</label>
								<input id="minesInput"
									type="number"
									name="mines"
									min="1"
									step="1"
									value="10"
									required />
							</div>
						</fieldset>
					</section>
				</div>

				<div class="form-footer center-flex">
					<button type="submit" class="submit-button">Submit</button>
				</div>
			</form>
		</div>
	</main>
{% endblock %}
