body {
	background-color: #222;
	color: #ccc;
}

header {
	height: 2rem;
	background-color: rgb(75, 75, 75);
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

header a {
	margin-left: 1rem;
	text-decoration-style: none;
	color: #ccc;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
}

#table {
	width: 96%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.line {
	height: 5rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.line-header {
	height: 2rem;
	position: sticky;
	top: 0px;
}

.line-content > .cell {
	width: 5%;
}

.cell {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	font-size: 70%;
	text-align: center;
}

.line-header > .cell-pokemon {
	visibility: hidden;
}

.cell-pokemon {
	border: 0.5px black solid;
	border-collapse: collapse;
	width: 10%;
}

.cell-type {
	width: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0.5px solid transparent;
	border-collapse: collapse;
}

.types {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}

.types > .type {
	font-size: 80%;
	padding: 5%;
}

.type {
	color: #fff;
	height: 90%;
	width: 2.9rem;
	padding: 0.2%;
	border-radius: 5px;
	text-shadow: 1px 1px 1px #333;
	display: flex;
	justify-content: center;
	align-items: center;
	text-overflow: ellipsis;
	overflow: hidden;
}

.line-header .type {
	font-size: 90%;
	padding: 2%;
	margin-bottom: 0.2rem;
}

.pokemon .type {
	font-size: 60%;
}

.pokemon-preview {
	width: 10%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pokemon-preview,
.line-content > .cell {
	border: 0.5px black solid;
	border-collapse: collapse;
}

.sprite {
	max-width: 100%;
	max-height: 70%;
}

.pokemon-infos {
	max-width: 100%;
	max-height: 30%;
}
