form {
	min-width: 60%;
	background-color: rgb(45, 45, 45);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
	border: 1px #ccc solid;
	border-radius: 6px;

	.separation {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.separation-line {
		width: 80%;
		height: 1px;
		background-color: #ccc;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	label {
		font-weight: bold;
	}

	h1 {
		margin-bottom: 2rem;
		text-align: center;
	}

	button {
		width: max-content;
	}

	.tier {
		width: 100%;
		display: flex;
		align-items: center;
	}

	.tier label {
		margin-right: 1rem;
	}

	#teams {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.team {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.team-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0.5rem;
	}

	#team-2 .team-header {
		margin-bottom: 0.5rem;
	}

	.team-header > label {
		margin-right: 1rem;
	}

	.team textarea {
		height: 3.4rem;
	}

	.import {
		display: flex;
	}

	.import-header {
		display: flex;
		align-items: center;
	}

	.import-header label {
		font-weight: normal;
	}

	#import-input {
		margin-left: 10rem;
		height: 1.4rem;
		margin-bottom: 2rem;
		padding-top: 4px;
		padding-bottom: 4px;
	}

	.submit {
		display: flex;
		justify-content: center;
		font-size: larger;
	}
}

.item img {
	max-height: 2.5em;
}

header {
	height: 4rem;
	position: sticky;
	top: 0;
	z-index: 1;

	.link {
		margin-left: 2%;
	}

	.select {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	.show-stats {
		margin-right: 2%;
	}
}

.speed {
	transition: 0.1s;
}

.high-speed {
	color: #ff0000;
	transition: 0.1s;
}

.low-speed {
	color: #02ffaa;
	transition: 0.1s;
}

.equal-speed {
	color: #ffcc00;
	transition: 0.1s;
}

.pokemon-show.border-high-speed {
	transition: 0.1s;
	border-left-color: #ff0000;
	border-right-color: #ff0000;
	border-left-width: 2px;
	border-right-width: 2px;
}

.pokemon-show.border-low-speed {
	transition: 0.1s;
	border-left-color: #02ffaa;
	border-right-color: #02ffaa;
	border-left-width: 2px;
	border-right-width: 2px;
}

.pokemon-show.border-equal-speed {
	transition: 0.1s;
	border-left-color: #ffcc00;
	border-right-color: #ffcc00;
	border-left-width: 2px;
	border-right-width: 2px;
}

.high-boost {
	color: #02ffab;
}

.low-boost {
	color: #ff0000;
}

.mb-1rem {
	margin-bottom: 1rem;
}

.popup-text {
	position: absolute;
	z-index: 1;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
}

.popup-text.show {
	visibility: visible;
	-webkit-animation: fadeIn 0.1s;
	animation: fadeIn 0.1s;
	position: absolute;
}

.popup-text.move-popup {
	padding: 1%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	text-align: left;
	min-width: 15rem;
	max-width: 20rem;
}

.card-popup {
	color: #ccc;
	box-shadow: 2px 2px 2px #111;
	border: 1px solid #424242;
	background-color: #222;
}

.popup-text.move-popup > .popup-type,
.popup-text.move-popup > .category,
.popup-text.move-popup > .power,
.popup-text.move-popup > .accuracy {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.popup-text.move-popup > .popup-type > .name,
.popup-text.move-popup > .category > .name,
.popup-text.move-popup > .power > .name,
.popup-text.move-popup > .accuracy > .name {
	width: 6rem;
}

.category > .category-content {
	display: flex;
	align-items: center;
}

.category > .category-content > img {
	max-height: 1.5rem;
	width: 3rem;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.main-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	width: 100%;
}

.team {
	width: 48%;
	margin: 0 1%;
	border-collapse: collapse;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: sticky;
	top: 4rem;
}

#team2 > .pokemon-show {
	justify-content: flex-end;
}

.pokemon-show:hover {
	background-color: rgba(255, 255, 255, 0.102);
	transition: 0.3s;
}

.pokemon {
	border: 1px black solid;
	border-collapse: collapse;
	height: 5.8rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.pokemon.pokemon-edit {
	height: inherit;
	width: 45rem;
	position: fixed;
	flex-wrap: wrap;
	padding: 1%;
}

.save.button {
	font-size: 2.5rem;
	position: absolute;
	top: 1rem;
	left: 1rem;
	z-index: 3;
}

.buttons {
	position: absolute;
	top: 0;
	display: flex;
	z-index: 3;
}

#team2 .buttons {
	flex-direction: row-reverse;
}

.button {
	background-color: transparent;
	transition: 0.2s;
	font-size: 1.5rem;
}

.button:hover {
	background-color: rgba(255, 255, 255, 0.205);
	cursor: pointer;
	transition: 0.2s;
}

.pokemon > .preview {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 1%;
	width: 17%;
	position: relative;
}

.pokemon.pokemon-edit > .preview {
	width: 22rem;
	align-items: flex-start;
}

.preview .status-container {
	position: absolute;
	top: 15%;
	z-index: 2;
	height: 20%;
	width: 100%;
	font-size: 70%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#team1 .preview .status-container {
	justify-content: flex-end;
}

.pokemon-edit .status-container {
	justify-content: flex-end;
	height: 2rem;
	width: auto;
	margin-right: 20%;
	margin-bottom: 20%;
	top: auto;
}

.status {
	color: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1rem;
	padding: 0 0.2rem 0 0.2rem;
	border-radius: 2px;
}

.pokemon-edit .status {
	padding: 0.5rem;
	position: absolute;
	left: 70%;
}

.pokemon > .preview > select {
	text-align: center;
}

.sprite-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pokemon-edit .sprite-container {
	justify-content: flex-end;
}

.sprite-container > abbr {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.sprite {
	max-width: 100%;
	max-height: 80%;
	display: flex;
	justify-content: center;
}

.sprite > abbr {
	max-height: 100%;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sprite > abbr > img {
	max-height: 100%;
	max-width: 100%;
}

#team2 > .pokemon > .infos {
	padding-left: 2%;
}

.pokemon > .infos {
	height: 100%;
	width: 17%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.pokemon-show .statsDiv {
	width: 17%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	font-size: 70%;
}

.stat-line {
	width: 60%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pokemon-show .statsDiv .stat {
	width: auto;
}

#team2 .pokemon-show .statsDiv {
	padding-left: 2%;
}

.stats-line {
	width: 80%;
}

.infos > p,
.infos > p > abbr {
	font-size: 80%;
}

.types {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	width: 100%;
	height: 20%;
}

.type {
	color: #fff;
	height: 60%;
	padding: 3%;
	border-radius: 5px;
	text-shadow: 1px 1px 1px #333;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 70%;
}

.preview > .types > .type {
	width: 4rem;
	height: 0.8rem;
}

div.item,
div.ability,
div.nature,
div.status-change {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

div.item > p,
div.ability > p,
div.nature > p,
div.status-change > p {
	margin: 0.3rem;
	width: 5rem;
}

.stats {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 1rem;
}

.stat {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

.stat > p:nth-child(1) {
	width: 50%;
	text-align: end;
}

.stat > p:nth-child(2) {
	margin-left: 4%;
}

.stat > p {
	line-height: 0.7;
}

#team1 > .pokemon > .moves {
	align-items: flex-end;
}

#team2 > .pokemon > .moves {
	align-items: flex-start;
}

.moves {
	height: 100%;
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.pokemon.pokemon-edit > .moves {
	width: fit-content;
}

#team2 > .pokemon.pokemon-edit > .moves,
#team1 > .pokemon.pokemon-edit > .moves {
	width: 20rem;
	height: 15rem;
	align-items: center;
}

.moves > a.type {
	line-height: 0.2;
}

.stats {
	width: 50%;
}

.pokemon.pokemon-edit > .stats {
	width: 100%;
}

.stats-table {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.line {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.cell {
	height: 2rem;
	width: 16.6%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hp > .boost {
	opacity: 0;
}

.iv > input,
.ev > input,
.boost > input {
	height: 1.5rem;
	width: 3.5rem;
	text-align: end;
}

.damage {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	font-size: 70%;
	width: 31%;
	margin: 0.5%;
}

#team1 .damage {
	flex-direction: row-reverse;
}

.damage > p {
	margin-left: 10%;
}

.damage-content > * {
	margin-left: 5%;
	margin-right: 5%;
}

.damage-content {
	color: black;
	height: 100%;
	width: 48%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: start;
	border-radius: 5px;
}

.damage-content.full {
	width: 88%;
	height: 80%;
	padding: 5%;
	margin-left: 1%;
}

#team1 .damage-content.full {
	margin-right: 1%;
}

.damage-firstLine {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 90%;
}

.damage-moveName {
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	width: 90%;
}

.damage .average {
	height: 100%;
	font-size: 150%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.minmax {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-left: solid black 1px;
	padding-left: 2%;
}

.minmax p {
	width: 100%;
	text-align: right;
}

.average,
.damage-htk {
	font-weight: bold;
}

.minor-attack {
	color: rgb(78, 76, 76);
}

a {
	color: #ccc;
}

.move {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 22%;
	width: 100%;
	color: #222;
}

.move > p {
	display: flex;
	align-items: center;
}

.move-info {
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50pc;
}

.move-icon > span {
	font-size: 2rem;
}

.ability:link,
.move-name:link {
	text-decoration: none;
}

.move > .move-name {
	font-size: 80%;
	max-width: 60%;
	margin-left: 5%;
	margin-right: 1%;
	text-align: left;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.move > .move-end {
	height: 100%;
	margin-right: 3%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.move-power {
	font-size: 80%;
	text-align: end;
	margin-right: 8%;
}

.move-icon {
	height: 1em;
	width: 1em;
	margin-right: 3%;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.move-icon.special {
	background-image: url('sources/special.svg');
}

.move-icon.physical {
	background-image: url('sources/physical.svg');
}

.move-icon.status {
	background-image: url('sources/non-damaging.svg');
}

.low-luminosity {
	opacity: 0.2;
}

.sticky {
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: #222;
}
