{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('pokemon/data/pokedex.json') }}"></script>
	<script src="{{ asset('pokemon/data/sets.json') }}"></script>
	<script src="{{ asset('pokemon/data/ubersSets.json') }}"></script>
	<script src="{{ asset('pokemon/data/ouSets.json') }}"></script>
	<script src="{{ asset('pokemon/data/uuSets.json') }}"></script>
	<script src="{{ asset('pokemon/data/ruSets.json') }}"></script>
	<script src="{{ asset('pokemon/data/nuSets.json') }}"></script>
	<script src="{{ asset('pokemon/data/zuSets.json') }}"></script>
	<script src="{{ asset('pokemon/data/moves.json') }}"></script>
	<script src="{{ asset('pokemon/data/learnsets.json') }}"></script>
	<script src="{{ asset('pokemon/data/abilities.json') }}"></script>
	<script src="{{ asset('pokemon/data/abilities2.json') }}"></script>
	<script src="{{ asset('pokemon/data/items.json') }}"></script>

	<script src="{{ asset('js/pokemon/data.js') }}"></script>
	<script src="{{ asset('js/pokemon/functions.js') }}"></script>
	<script src="{{ asset('js/pokemon/myTeam.js') }}"></script>
	<script src="{{ asset('js/pokemon/Pokemon.js') }}"></script>
	<script src="{{ asset('js/pokemon/typedef.js') }}"></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/pokemon/style.css') }}" />
	<link rel="stylesheet" href="{{ asset('styles/pokemon/colors.css') }}" />
{% endblock %}

{% block title %}
	Pokemon
{% endblock %}

{% block nav %}
	{{ parent() }}
	<span class="material-icons">navigate_next</span>
	<a class="two" href="{{ path('pokemon') }}">Pokemon</a>
{% endblock %}
