{% extends 'pokemon/base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/pokemon/cover.css') }}" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/pokemon/cover.js') }}"></script>
{% endblock %}

{% block title %}
	{{ parent() }} - Cover
{% endblock %}

{% block main %}
	<main class="transparent center-flex draft">
		<div class="main-container">
			<div id="table">
				<div class="line line-header">
					<div class="cell cell-pokemon">
						Pokemon
					</div>
					<div class="cell cell-type">
						<div class="type first-type last-type steel">
							Steel
						</div>
					</div>
					<div class="cell cell-type">
						<div class="type first-type last-type fighting">
							Fighting
						</div>
					</div>
					<div class="cell cell-type">
						<div class="type first-type last-type dragon">
							Dragon
						</div>
					</div>
					<div class="cell cell-type">
						<div class="type first-type last-type water">
							Water
						</div>
					</div>
					<div class="cell cell-type">
						<div class="type first-type last-type electric">
							Electric
						</div>
					</div>
					<div class="cell cell-type">
						<div class="type first-type last-type fairy">
							Fairy
						</div>
					</div>
					<div class="cell cell-type">
						<div class="type first-type last-type fire">
							Fire
						</div>
					</div>
					<div class="cell cell-type">
						<div class="type first-type last-type ice">
							Ice
						</div>
					</div>
					<div class="cell cell-type">
						<div class="type first-type last-type bug">
							Bug
						</div>
					</div>
					<div class="cell cell-type">
						<div class="type first-type last-type normal">
							Normal
						</div>
					</div>
					<div class="cell cell-type">
						<div class="type first-type last-type grass">
							Grass
						</div>
					</div>
					<div class="cell cell-type">
						<div class="type first-type last-type poison">
							Poison
						</div>
					</div>
					<div class="cell cell-type">
						<div class="type first-type last-type psychic">
							Psychic
						</div>
					</div>
					<div class="cell cell-type">
						<div class="type first-type last-type rock">
							Rock
						</div>
					</div>
					<div class="cell cell-type">
						<div class="type first-type last-type ground">
							Ground
						</div>
					</div>
					<div class="cell cell-type">
						<div class="type first-type last-type ghost">
							Ghost
						</div>
					</div>
					<div class="cell cell-type">
						<div class="type first-type last-type dark">
							Dark
						</div>
					</div>
					<div class="cell cell-type">
						<div class="type first-type last-type flying">
							Flying
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
