{% extends 'pokemon/base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/pokemon/script.js') }}"></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}
	{{ parent() }} - Fight
{% endblock %}

{% block header_content %}
	<div class="climate-select">
		<label for="climate">Climate</label>
		<select name="climate" id="climate">
			<option value="neutral" selected></option>
			<option value="rain">
				Rain
			</option>
			<option value="sun">
				Sun
			</option>
			<option value="hail">
				Hail
			</option>
			<option value="sand">
				Sand
			</option>
		</select>
	</div>

	<div class="terrain-select">
		<label for="terrain">Terrain</label>
		<select name="terrain" id="terrain">
			<option value="neutral" selected></option>
			<option value="Psychic">
				Psychic
			</option>
			<option value="Grassy">
				Grassy
			</option>
			<option value="Electric">
				Electric
			</option>
			<option value="Misty">
				Misty
			</option>
		</select>
	</div>

	<div class="show-stats">
		<input type="checkbox" name="show-stats" id="show-stats" />
		<label for="show-stats">Show stats</label>
	</div>
{% endblock %}

{% block main %}
	<div class="main-container">
		<div class="team" id="team1"></div>
		<div class="team" id="team2"></div>
	</div>
{% endblock %}
