{% extends 'pokemon/base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/pokemon/index.js') }}"></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/pokemon/index.css') }}" />
	<link rel="stylesheet" href="{{ asset('styles/pokemon/style.css') }}" />
{% endblock %}

{% block title %}
	{{ parent() }} - Draft
{% endblock %}

{% block main %}
	<main class="transparent center-flex draft">
		<form action="{{ path('pokemon-process') }}"
			method="post"
			class="form"
			enctype="multipart/form-data"
			onsubmit="trimForm()">
			<h1>
				Draft
			</h1>
			<div class="separation-line"></div>
			<div class="tier">
				<label for="tier">Tier:</label>
				<select name="tier" id="tier">
					<option value="UBER">
						Uber
					</option>
					<option value="OU">
						OU
					</option>
					<option value="UU">
						UU
					</option>
					<option value="RU" selected>
						RU
					</option>
					<option value="NU">
						NU
					</option>
					<option value="ZU">
						ZU
					</option>
				</select>
			</div>
			<div class="separation-line"></div>
			<div id="teams" class="w100">
				<div id="team-1" class="team">
					<div class="team-header">
						<label for="team-1">Team 1</label>
						<button type="button" class="clear-button 1">Clear</button>
					</div>
					<div class="import mb-1">
						<div class="import-header">
							<input type="checkbox" name="import-checkbox" id="import-checkbox" class="mr-1" />
							<label for="import-checkbox">Import</label>
						</div>
					</div>
					<input type="file" name="import-team" id="import-input" class="no-display" />
					<input type="text"
						name="team1"
						required
						value="Flygon / Obstagoon / Reuniclus / Xurkitree / Necrozma / Heracross" />
				</div>
				<div class="separation">
					<div class="separation-line"></div>
				</div>
				<div id="team-2" name="team-2" class="team">
					<div class="team-header">
						<label for="team-2">Team 2</label>
						<button type="button" class="clear-button 2">Clear</button>
					</div>
					<div style="display: none">
						Flygon / Obstagoon / Reuniclus / Xurkitree / Necrozma / Heracross / Suicune / Cobalion / Crobat
						/ Grimmsnarl / Toxtricity / Volcanion / Nidoqueen / Weezing-Galar / Milotic / Umbreon /
						Registeel / Stakataka / Togekiss / Steelix / Golisopod / Incineroar / Roserade / Chandelure /
						Gastrodon / Noivern
					</div>
					<input type="text"
						name="team2"
						required
						value="Grimmsnarl / Toxtricity / Volcanion / Nidoqueen / Weezing-Galar / Milotic / Umbreon / Registeel / Stakataka / Togekiss / Steelix / Golisopod / Incineroar" />
				</div>
			</div>
			<div class="separation-line"></div>
			<div class="submit w100">
				<button id="submit-button" type="submit">Submit</button>
			</div>
		</form>
	</main>
{% endblock %}
