{% extends 'base.html.twig' %}

{% block meta_description %}
	"Découvrez mon portfolio."
{% endblock %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/index.js') }}"></script>
{% endblock %}

{% block body %}
	<header class="homepage">
		{% block header %}
			<nav>
				{% block nav %}
					{{ parent() }}
				{% endblock %}
			</nav>

			{% block header_content %}
				<h1>
					Portfolio
				</h1>
			{% endblock %}

			{% block login %}
				{{ parent() }}
			{% endblock %}
			<div class="info">
				<p>
					Ceci est l'ancienne version du site créé entièrement avec Symfony
				</p>
				<a href="https://valentin-silvestre.com">Aller à la nouvelle version</a>
			</div>
		{% endblock %}
	</header>

	{% block main %}
		<main class="homepage">
			<div class="projects-container">
				<section class="project-preview">
					<a href="https://crm.valentin-silvestre.com/index.php" target="_blank">
						<img class="project-preview__image"
							src="{{ asset('images/projects/screenshots/mhb.png') }}"
							alt="" />
					</a>
					<h3 class="project-preview__heading">
						mhb
					</h3>
				</section>
				<section class="project-preview">
					<a href="{{ path('calendar') }}">
						<img class="project-preview__image"
							src="{{ asset('images/projects/screenshots/calendar.png') }}"
							alt="" />
					</a>
					<h3 class="project-preview__heading">
						calendar
					</h3>
				</section>
				<section class="project-preview">
					<a href="{{ path('pokemon') }}">
						<img class="project-preview__image"
							src="{{ asset('images/projects/screenshots/pokemon.png') }}"
							alt="" />
					</a>
					<h3 class="project-preview__heading">
						pokemon
					</h3>
				</section>
				<section class="project-preview">
					<a href="{{ path('taquin_game') }}">
						<img class="project-preview__image"
							src="{{ asset('images/projects/screenshots/taquin.png') }}"
							alt="" />
					</a>
					<h3 class="project-preview__heading">
						taquin
					</h3>
				</section>
				<section class="project-preview">
					<a href="{{ path('gameoflife') }}">
						<img class="project-preview__image"
							src="{{ asset('images/projects/screenshots/gameOfLife.png') }}"
							alt="" />
					</a>
					<h3 class="project-preview__heading">
						gameOfLife
					</h3>
				</section>
				<section class="project-preview">
					<a href="{{ path('puissance4') }}">
						<img class="project-preview__image"
							src="{{ asset('images/projects/screenshots/puissance4.png') }}"
							alt="" />
					</a>
					<h3 class="project-preview__heading">
						puissance4
					</h3>
				</section>
				<section class="project-preview">
					<a href="{{ path('app_mines') }}">
						<img class="project-preview__image"
							src="{{ asset('images/projects/screenshots/mines.png') }}"
							alt="" />
					</a>
					<h3 class="project-preview__heading">
						mines
					</h3>
				</section>
				<section class="project-preview" href="#">
					<a href="{{ path('app_mondrian') }}">
						<img class="project-preview__image"
							src="{{ asset('images/projects/screenshots/mondrian.png') }}"
							alt="" />
					</a>
					<h3 class="project-preview__heading">
						mondrian
					</h3>
				</section>
			</div>
		</main>
	{% endblock %}

	{% block footer %}
		{% include 'footer.html.twig' %}
	{% endblock %}
{% endblock %}
