.main-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 1rem;
}
.main-container a button {
	width: 100%;
	height: 100%;
}

.main-content form .form-container {
	margin-bottom: 1rem;
	padding: 0.5rem;
}
.main-content form .form-container fieldset legend {
	padding: 0 1em;
}
.main-content form .form-container fieldset .field {
	margin: 1em;
	display: grid;
	grid-template-columns: auto auto;
	gap: 0 2rem;
}
.main-content form .form-container fieldset .field input {
	width: 3rem;
	text-align: end;
}
.main-content form .form-container fieldset > * {
	display: flex;
	justify-content: space-between;
}

/*# sourceMappingURL=index.css.map */
