/* ? =============================================================================
/* ? *                                                                           *
/* ? *                                  GÉNÉRAL                                  *
/* ? *                                                                           *
/* ? ============================================================================*/

* {
	--mine-color: #a52a2a;
	--no-reveal: rgb(128, 128, 128);
	--no-reveal-hover: rgba(128, 128, 128, 0.842);
	--top-bar-height: 5%;

	--m1: rgb(215, 215, 255);
	--m2: rgb(175, 175, 255);
	--m3: rgb(135, 135, 255);
	--m4: rgb(255, 255, 160);
	--m5: rgb(255, 255, 80);
	--m6: rgb(255, 150, 150);
	--m7: rgb(255, 100, 100);
	--m8: rgb(255, 50, 50);
}

.m1 {
	background-color: var(--m1);
}

.m2 {
	background-color: var(--m2);
}

.m3 {
	background-color: var(--m3);
}

.m4 {
	background-color: var(--m4);
}

.m5 {
	background-color: var(--m5);
}

.m6 {
	background-color: var(--m6);
}

.m7 {
	background-color: var(--m7);
}

.m8 {
	background-color: var(--m8);
}

.hidden {
	display: none;
	background-color: var(--no-reveal);
}

.main-content {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#grid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: sticky;
	left: 2rem;
	margin: 0.5rem;
}

.top {
	width: 100%;
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: sticky;
	left: 0;
}

.top button {
	padding: 10%;
}

/* ? ===========================================================================
/* ? *                                                                         *
/* ? *                                  TABLE                                  *
/* ? *                                                                         *
/* ? ==========================================================================*/

#grid {
	color: #222;
}

.grid {
	border: 1px black solid;
	border-collapse: collapse;
}

.line {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell {
	min-height: 2rem;
	min-width: 2rem;

	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px black solid;
	border-collapse: collapse;
	background-color: white;
	cursor: default;
}

#grid .cell {
	height: 2rem;
	width: 2rem;
}

.cell.m1 {
	background-color: var(--m1);
}

.cell.m2 {
	background-color: var(--m2);
}

.cell.m3 {
	background-color: var(--m3);
}

.cell.m4 {
	background-color: var(--m4);
}

.cell.m5 {
	background-color: var(--m5);
}

.cell.m6 {
	background-color: var(--m6);
}

.cell.m7 {
	background-color: var(--m7);
}

.cell.m8 {
	background-color: var(--m8);
}

.cell > p {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell.mine {
	background-color: white;
}

.cell.no-reveal {
	background-color: var(--no-reveal);
}

.cell.no-reveal:hover {
	background-color: var(--no-reveal-hover);
}

.cell.flag,
.cell.flag.no-reveal:hover {
	background-color: var(--no-reveal);
	border-radius: 50%;
}

.cell.mine-win.mine {
	background-color: white;
}

.bottom {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	left: 0;
}

#bottom-text {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	min-width: 6rem;
}

#bottom-text .mine-picture {
	height: 1.1rem;
	width: 1.5rem;
}

#bottom-text .mine-line1,
#bottom-text .mine-line4,
#bottom-text .mine-column1,
#bottom-text .mine-column3 {
	display: none;
}

#bottom-text .mine-line2 {
	height: 30%;
}

#bottom-text .mine-line3 {
	height: 70%;
}

#bottom-text .mine-line2 .mine-column2 {
	height: 100%;
}

#bottom-text .mine-line2 .mine-column2 .mine-top {
	height: 100%;
	border-bottom: 0;
}

#bottom-text .mine-column2 {
	width: 100%;
}
