// ! ====================================================================================================
// !                                                                                                    \
// !                                              Variables                                             \
// !                                                                                                    \
// ! ====================================================================================================

$mondrian-black: #010101;
$mondrian-blue: #021234;
$mondrian-grey: #9eafbf;
$mondrian-line-color: #010101;
$mondrian-red: #dc0201;
$mondrian-white: #e0dcdd;
$mondrian-yellow: #f18c00;

.black {
	background-color: $mondrian-black;
}

.blue {
	background-color: $mondrian-blue;
}

.grey {
	background-color: $mondrian-grey;
}

.line-color {
	background-color: $mondrian-line-color;
}

.red {
	background-color: $mondrian-red;
}

.white {
	background-color: $mondrian-white;
}

.yellow {
	background-color: $mondrian-yellow;
}

// ! ====================================================================================================
// !                                                                                                    \
// !                                               Contenu                                              \
// !                                                                                                    \
// ! ====================================================================================================

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
}

main {
	width: -moz-available;
	margin: 0;
	padding: 0;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.description {
	max-width: 80%;
	text-align: center;
	margin: 2rem 0 2rem;
}

ul.picture-list {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	position: relative;
}

// ul.picture-list:first-child

.picture-label {
	margin-top: 1rem;
}

.picture {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#picture2 {
	right: 0;
	transition-duration: 3s;
}

#picture2:hover {
	left: 0;
	right: auto;
	transition-duration: 3s;
}

@for $i from 1 to 14 {
	.col_span#{$i} {
		grid-column: span $i;
	}
}

@for $i from 1 to 14 {
	.row_span#{$i} {
		grid-row: span $i;
	}
}

.original-picture {
	width: 35vw;
}

.dessin {
	height: 35vw;
	width: 35vw;
	background-color: beige;
	display: grid;
	grid-template-columns: 9.7% 1.8% 11% 1.8% 11.5% 1.8% 23.3% 1.8% 14.3% 1.8% 14% 1.8% 5.5%;
	grid-template-rows: 11% 1.8% 24% 1.5% 24% 1.8% 11.3% 1.8% 10.5% 1.6% 5.7% 1.5% 4%;
}

.line {
	display: grid;
}

.column {
	height: 100%;
}

.bloc {
	width: 100%;
	height: 100%;
}

@for $i from 0 to 101 {
	.h#{$i} {
		height: $i * 1%;
	}
}

@for $i from 0 to 101 {
	.w#{$i} {
		width: $i * 1%;
	}
}

.line13.column1 {
	display: flex;
	align-items: end;
}

.line2.column1 .bloc {
	width: 1.6%;
}
