{% extends 'base.html.twig' %}

{% block title %}
	Puissance 4
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/puissance4/functions.js') }}"></script>
	<script src="{{ asset('js/puissance4/Grid.js') }}"></script>
	<script src="{{ asset('js/puissance4/script.js') }}"></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/puissance4/style.css') }}" />
{% endblock %}

{% block body %}
	<header>
		{% block header %}
			<nav>
				{% block nav %}
					<a class="home" href="{{ path('app_homepage') }}">Home</a>
					<span class="material-icons">navigate_next</span>
					<a href="">Puissance 4</a>
					{% if app.user %}
						<a href="{{ path('app_logout') }}">Logout</a>
					{% endif %}
				{% endblock %}
			</nav>

			{% block login %}
				{{ parent() }}
			{% endblock %}
		{% endblock %}
	</header>

	<main class="transparent">
		{% block main %}
			<div class="main-container">
				<div class="top">
					<button class="new-game">Nouvelle partie</button>
					<button class="change-opponent">Jouer contre l'ordinateur</button>
				</div>
				<div class="piece red"></div>
				<div class="grid">
					<div class="row row1">
						<div class="column column1">
							<div class="case empty"></div>
						</div>
						<div class="column column2">
							<div class="case empty"></div>
						</div>
						<div class="column column3">
							<div class="case empty"></div>
						</div>
						<div class="column column4">
							<div class="case empty"></div>
						</div>
						<div class="column column5">
							<div class="case empty"></div>
						</div>
						<div class="column column6">
							<div class="case empty"></div>
						</div>
						<div class="column column7">
							<div class="case empty"></div>
						</div>
					</div>
					<div class="row row2">
						<div class="column column1">
							<div class="case empty"></div>
						</div>
						<div class="column column2">
							<div class="case empty"></div>
						</div>
						<div class="column column3">
							<div class="case empty"></div>
						</div>
						<div class="column column4">
							<div class="case empty"></div>
						</div>
						<div class="column column5">
							<div class="case empty"></div>
						</div>
						<div class="column column6">
							<div class="case empty"></div>
						</div>
						<div class="column column7">
							<div class="case empty"></div>
						</div>
					</div>
					<div class="row row3">
						<div class="column column1">
							<div class="case empty"></div>
						</div>
						<div class="column column2">
							<div class="case empty"></div>
						</div>
						<div class="column column3">
							<div class="case empty"></div>
						</div>
						<div class="column column4">
							<div class="case empty"></div>
						</div>
						<div class="column column5">
							<div class="case empty"></div>
						</div>
						<div class="column column6">
							<div class="case empty"></div>
						</div>
						<div class="column column7">
							<div class="case empty"></div>
						</div>
					</div>
					<div class="row row4">
						<div class="column column1">
							<div class="case empty"></div>
						</div>
						<div class="column column2">
							<div class="case empty"></div>
						</div>
						<div class="column column3">
							<div class="case empty"></div>
						</div>
						<div class="column column4">
							<div class="case empty"></div>
						</div>
						<div class="column column5">
							<div class="case empty"></div>
						</div>
						<div class="column column6">
							<div class="case empty"></div>
						</div>
						<div class="column column7">
							<div class="case empty"></div>
						</div>
					</div>
					<div class="row row5">
						<div class="column column1">
							<div class="case empty"></div>
						</div>
						<div class="column column2">
							<div class="case empty"></div>
						</div>
						<div class="column column3">
							<div class="case empty"></div>
						</div>
						<div class="column column4">
							<div class="case empty"></div>
						</div>
						<div class="column column5">
							<div class="case empty"></div>
						</div>
						<div class="column column6">
							<div class="case empty"></div>
						</div>
						<div class="column column7">
							<div class="case empty"></div>
						</div>
					</div>
					<div class="row row6">
						<div class="column column1">
							<div class="case empty"></div>
						</div>
						<div class="column column2">
							<div class="case empty"></div>
						</div>
						<div class="column column3">
							<div class="case empty"></div>
						</div>
						<div class="column column4">
							<div class="case empty"></div>
						</div>
						<div class="column column5">
							<div class="case empty"></div>
						</div>
						<div class="column column6">
							<div class="case empty"></div>
						</div>
						<div class="column column7">
							<div class="case empty"></div>
						</div>
					</div>
				</div>
				<div class="side-bar">
					<p class="text">
						Au tour des <span class="color red">rouges</span> de jouer
					</p>
				</div>
			</div>
		{% endblock %}
	</main>
{% endblock %}
