.center-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.jcs {
	justify-content: start;
}

.mb-1 {
	margin-bottom: 1rem;
}

.mr-1 {
	margin-right: 0.5rem;
}

.italic {
	font-style: italic;
}

.fd-r {
	flex-direction: row;
}

.fd-c {
	flex-direction: column;
}

.w-a {
	width: auto;
}

.w100 {
	width: 100%;
}

.no-display {
	display: none;
}

.text-center {
	text-align: center;
}

.no-decoration,
.material-icons {
	text-decoration: none;
}

.inactive {
	color: rgb(140, 140, 140);
}

.flex {
	display: flex;
}

.column-flex {
	flex-direction: column;
}

.sticky {
	position: sticky;
	top: 0;
}
