// ! ==============================================================================================
// !                                                                                              \
// !                                        Initialisation                                        \
// !                                                                                              \
// ! ==============================================================================================

*,
::after,
::before {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

// ! ==============================================================================================
// !                                                                                              \
// !                                      Éléments généraux                                       \
// !                                                                                              \
// ! ==============================================================================================

a {
    color: $light;
}

button {
    padding: 0.2rem;
    cursor : pointer;
}

li {
    list-style: none;
}

abbr {
    text-decoration: none;
}

#to-top {
    flex-direction: column;
    position      : fixed;
    left          : 2.5vw;
    bottom        : 0.5vh;
    transform     : translateX(-50%);
    cursor        : pointer;
    padding       : 0.2vw;
    display       : none;
}

#to-top:hover {
    background-color: #323232;
}

// ! ==============================================================================================
// !                                                                                              \
// !                                       Style personnel                                        \
// !                                                                                              \
// ! ==============================================================================================

body {
    background-color  : $dark;
    color             : $light;
    min-height        : 100vh;
    display           : grid;
    grid-template-rows: auto 1fr auto;
    font-family       : Ubuntu;
    align-items       : center;
}

header,
footer {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

header {
    padding         : 2vh 5vw;
    background-color: $dark-light;
    box-shadow      : 2px 2px 1px #111;
    z-index         : 1;

    nav {
        display              : grid;
        align-items          : end;
        grid-template-columns: auto auto auto;

        span.material-icons {
            font-size: 1.2rem;
            margin   : 0 0.3rem;
            cursor   : default;
        }
    }

    a {
        text-decoration: none;
    }

    .login {
        padding        : 6px 9px;
        border         : 1px solid $b-blue;
        border-radius  : 2px;
        word-spacing   : 0.15rem;
        cursor         : pointer;
        text-decoration: none;
        text-transform : uppercase;
        color          : $b-blue;

        svg.icon {
            margin-right: 6px;
            height      : 22px;
            width       : 22px;
        }

        p {
            align-self: end;
        }
    }

    .user {
        img {
            width        : 40px;
            height       : 40px;
            border-radius: 50%;
            object-fit   : cover;
        }
    }

    &.homepage {
        display              : grid;
        grid-template-columns: auto auto auto;

        h1 {
            justify-self: center;
        }

        .info {
            grid-column: span 3;
            font-style : italic;
            margin-top : 2rem;

            a {
                text-decoration: underline;
                color          : $b-blue;
            }
        }

        .login {
            width       : fit-content;
            justify-self: end;
        }
    }
}


main {
    margin          : 3vh 5vw;
    padding         : 1rem;
    box-shadow      : 2px 2px 1px #111;
    background-color: $dark-light;
    justify-self    : center;
}

main.homepage {
    background-color: rgb(70, 70, 70);
}

main.search,
main.calendar {
    min-width: 90%;
}

main.register,
main.login {
    justify-self   : center;
    width          : fit-content;
    display        : flex;
    flex-direction : column;
    justify-content: space-evenly;
    align-items    : center;

    .option {
        display       : flex;
        flex-direction: column;
        align-items   : center;
    }
}

main.taquin {
    display        : flex;
    justify-content: space-evenly;
    align-items    : flex-start;
    width          : min-content;
}

main.transparent {
    background-color: transparent;
    box-shadow      : none;
}

footer {
    justify-content: center;
    align-self     : end;
    margin-bottom  : 2vh;

    ul {
        list-style           : none;
        display              : grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding              : 0;

        li {
            margin: 0 1rem;
        }
    }

    $icon-size: 2rem;

    .icon {
        height: $icon-size;
        width : $icon-size;
    }
}

time {
    font-weight: bold;
}

.projects-container {
    display              : grid;
    grid-gap             : 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.project-preview {
    position        : relative;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    background-color: #222222;
}

.project-preview__image {
    width: 100%;
}

.project-preview__heading {
    text-transform: uppercase;
}

form.registration-form>*,
form.login-form>* {
    width                : 100%;
    display              : grid;
    grid-template-columns: auto 15rem;
    grid-column-gap      : 1rem;
}

form.registration-form,
form.login-form {
    display     : grid;
    grid-row-gap: 0.5rem;

    .button-div {
        display        : flex;
        justify-content: center;

        button.submit {
            width      : fit-content;
            align-self : center;
            grid-column: 1/-1;

            all             : unset;
            border          : 2px #ccc solid;
            border-radius   : 30px;
            padding         : 1rem;
            background-color: #464646;
            color           : rgb(120, 204, 120);
            cursor          : pointer;
            transition      : 0.1s;
            font-size       : large;
        }
    }
}