.mine-container,
.mine-inactive {
	height: 100%;
	width: 100%;

	.mine-picture {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.mine-active {
		animation: explode infinite 3s linear;
	}

	@keyframes explode {
		0% {
			background-color: orange;
		}

		50% {
			background-color: red;
		}

		100% {
			background-color: orange;
		}
	}

	@keyframes clignote {
		0% {
			background-color: white;
		}

		50% {
			background-color: red;
		}

		100% {
			background-color: white;
		}
	}

	.mine-top {
		height: 20%;
		width: 40%;
		/* background-color   : red; */
		border: 1px black solid;
		/* border-radius      : 40%; */
		animation: clignote infinite 1s linear;
	}

	.mine-bottom {
		height: 100%;
		width: 100%;
		background-color: rgb(82, 156, 38);
		border: 1px black solid;
		/* border-radius   : 10%; */
	}

	.line {
		display: flex;
		width: 100%;
	}

	.column {
		display: flex;
		height: 100%;
		/* border         : 1px black solid;
    border-collapse       : collapse; */
	}

	.line1 {
		height: 30%;
	}

	.line2 {
		height: 20%;
	}

	.line3 {
		height: 20%;
	}

	.line4 {
		height: 30%;
	}

	.column1 {
		width: 30%;
	}

	.column2 {
		width: 30%;
	}

	.column3 {
		width: 30%;
	}

	.column4 {
		width: 30%;
	}

	.line2 > .column2 {
		width: 40%;
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}

	.line3 > .column2 {
		width: 40%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
