$light: #cccccc;
$dark: #222222;
$dark-light: #323232;
$green: #688e26;
$red: #bc3908;
$blue: #477998;
$yellow: #dd9a21;
$orange: #d23721;
$dark-blue: #001746;
$light-blue: #bcf4f5;

$b-blue: #0d6efd;
