.center-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.jcs {
	justify-content: start;
}

.mb-1 {
	margin-bottom: 1rem;
}

.mr-1 {
	margin-right: 0.5rem;
}

.italic {
	font-style: italic;
}

.fd-r {
	flex-direction: row;
}

.fd-c {
	flex-direction: column;
}

.w-a {
	width: auto;
}

.w100,
.w100 {
	width: 100%;
}

.no-display {
	display: none;
}

.text-center {
	text-align: center;
}

.no-decoration,
.material-icons {
	text-decoration: none;
}

.inactive {
	color: #8c8c8c;
}

.flex {
	display: flex;
}

.column-flex {
	flex-direction: column;
}

.sticky {
	position: sticky;
	top: 0;
}

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: #cccccc;
}

button {
	padding: 0.2rem;
	cursor: pointer;
}

li {
	list-style: none;
}

abbr {
	text-decoration: none;
}

#to-top {
	flex-direction: column;
	position: fixed;
	left: 2.5vw;
	bottom: 0.5vh;
	transform: translateX(-50%);
	cursor: pointer;
	padding: 0.2vw;
	display: none;
}

#to-top:hover {
	background-color: #323232;
}

body {
	background-color: #222222;
	color: #cccccc;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	font-family: Ubuntu;
}

footer,
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header {
	padding: 2vh 5vw;
	background-color: #323232;
	box-shadow: 2px 2px 1px #111;
	z-index: 1;
}

header nav {
	display: grid;
	align-items: end;
	grid-template-columns: auto auto auto;
}

header nav span.material-icons {
	font-size: 1.2rem;
	margin: 0 0.3rem;
	cursor: default;
}

header a {
	text-decoration: none;
}

header .login {
	padding: 6px 9px;
	border: 1px solid #0d6efd;
	border-radius: 2px;
	word-spacing: 0.15rem;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	color: #0d6efd;
}

header .login svg.icon {
	margin-right: 6px;
	height: 22px;
	width: 22px;
}

header .login p {
	align-self: end;
}

header .user img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}

main {
	margin: 3vh 5vw;
	padding: 1rem;
	box-shadow: 2px 2px 1px #111;
	background-color: #323232;
}

main.homepage {
	background-color: #464646;
}

@media screen and (max-width: 768px) {
	main.mondrian {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}

	main.mondrian li.picture {
		width: 50%;
	}

	main.mondrian li.picture img {
		width: 90%;
	}

	main.mondrian li.picture .dessin {
		width: 90%;
		height: 100%;
	}
}

main.register,
main.login {
	justify-self: center;
	width: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

main.register .option,
main.login .option {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main.taquin {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}

main.transparent {
	background-color: transparent;
	box-shadow: none;
}

footer {
	justify-content: center;
	align-self: end;
	margin-bottom: 2vh;
}

footer ul {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 0;
}

footer ul li {
	margin: 0 1rem;
}

footer .icon {
	height: 2rem;
	width: 2rem;
}

time {
	font-weight: bold;
}

.projects-container {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
}

.project-preview {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #222222;
}

.project-preview__image {
	width: 100%;
}

.project-preview__heading {
	text-transform: uppercase;
}

form.registration-form > *,
form.login-form > * {
	width: 100%;
	display: grid;
	grid-template-columns: auto 15rem;
	grid-column-gap: 1rem;
}

form.registration-form,
form.login-form {
	display: grid;
	grid-row-gap: 0.5rem;
}

form.registration-form .button-div,
form.login-form .button-div {
	display: flex;
	justify-content: center;
}

form.registration-form .button-div button.submit,
form.login-form .button-div button.submit {
	width: fit-content;
	align-self: center;
	grid-column: 1/-1;
	all: unset;
	border: 2px #ccc solid;
	border-radius: 30px;
	padding: 1rem;
	background-color: #464646;
	color: #78cc78;
	cursor: pointer;
	transition: 0.1s;
	font-size: large;
}

.mine-container,
.mine-inactive {
	height: 100%;
	width: 100%;
}

.mine-container .mine-picture,
.mine-inactive .mine-picture {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mine-container .mine-active,
.mine-inactive .mine-active {
	animation: explode infinite 3s linear;
}

@keyframes explode {
	0% {
		background-color: orange;
	}

	50% {
		background-color: red;
	}

	100% {
		background-color: orange;
	}
}

@keyframes clignote {
	0% {
		background-color: white;
	}

	50% {
		background-color: red;
	}

	100% {
		background-color: white;
	}
}

.mine-container .mine-top,
.mine-inactive .mine-top {
	height: 20%;
	width: 40%;
	/* background-color   : red; */
	border: 1px black solid;
	/* border-radius      : 40%; */
	animation: clignote infinite 1s linear;
}

.mine-container .mine-bottom,
.mine-inactive .mine-bottom {
	height: 100%;
	width: 100%;
	background-color: #529c26;
	border: 1px black solid;
	/* border-radius   : 10%; */
}

.mine-container .line,
.mine-inactive .line {
	display: flex;
	width: 100%;
}

.mine-container .column,
.mine-inactive .column {
	display: flex;
	height: 100%;
	/* border           : 1px black solid;
  border-collapse       : collapse; */
}

.mine-container .line1,
.mine-inactive .line1 {
	height: 30%;
}

.mine-container .line2,
.mine-inactive .line2 {
	height: 20%;
}

.mine-container .line3,
.mine-inactive .line3 {
	height: 20%;
}

.mine-container .line4,
.mine-inactive .line4 {
	height: 30%;
}

.mine-container .column1,
.mine-inactive .column1 {
	width: 30%;
}

.mine-container .column2,
.mine-inactive .column2 {
	width: 30%;
}

.mine-container .column3,
.mine-inactive .column3 {
	width: 30%;
}

.mine-container .column4,
.mine-inactive .column4 {
	width: 30%;
}

.mine-container .line2 > .column2,
.mine-inactive .line2 > .column2 {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.mine-container .line3 > .column2,
.mine-inactive .line3 > .column2 {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*# sourceMappingURL=app.css.map */
