/*  ! ======================================    EDIT    ======================================  */

.main-container {
	background-color: #323232;
	padding: 1rem;
}

.main-container .links {
	display: flex;
	justify-content: flex-end;
}

.main-container .links .delete {
	margin-left: 1rem;
}

.main-container .links .delete button {
	all: unset;
	text-decoration: underline;
	cursor: pointer;
}

#form {
	width: 50vw;
	background-color: #323232;
	padding-top: 0;
}

.form h2.linksH2 {
	text-align: center;
	margin-bottom: 1rem;
}

main.edit .form .links {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.form .links a {
	margin-left: 1rem;
}

#form fieldset {
	border: none;
}

fieldset.links .field {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px #ccc solid;
	border-radius: 5px;
	padding: 1em;
}

fieldset.links .field .link-url,
fieldset.links .field .link-type,
fieldset.links .field .link-title {
	width: 100%;
	display: flex;
	align-items: center;
}

fieldset.links .link {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main.showEvent .form .field.link {
	display: flex;
	border: 1px #ccc solid;
	border-radius: 5px;
	padding: 1em;
	flex-direction: column;
}

fieldset.links .link .delete-link {
	transition: 0.1s;
}

fieldset.links .link .delete-link:hover {
	color: red;
	transition: 0.1s;
}

fieldset.links .add-link {
	transition: 0.1s;
	margin: 1em 0 0;
	text-decoration: none;
}

#event-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

li.event-link {
	margin-bottom: 1rem;
	padding: 1rem;
	border: 1px #ccc solid;
	border-radius: 10px;
}

li.event-link > * {
	display: flex;
	justify-content: space-between;
}

li.event-link label {
	min-width: 3rem;
}

/*  ! =======================================    NEW    =======================================  */

.form-container {
	width: 70%;
}

fieldset.link-field {
	display: flex;
	border: 1px #ccc solid;
	border-radius: 5px;
	padding: 1em;
	flex-direction: column;
}

section.event-informations > .link {
	display: flex;
}

section.event-informations > .link .delete-link-button {
	margin-bottom: 2rem;
	padding: 0.5rem;
	align-self: center;
}

section.event-informations > .link .delete-link-button:hover {
	cursor: pointer;
	color: red;
}

.field.link .link-url,
.field.link .link-title {
	display: flex;
	align-items: center;
}
