/* ? - La table =======================================================================================================*/

#table {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #323232;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.table-content {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
}

#table .row {
	padding: 0.3rem;
	display: flex;
	align-items: center;
	transition: 0.2s;
}

.table-content > * {
	border-top: 1px black solid;
}

.table-content > *:first-child {
	border-top: none;
}

.table-content .row {
	min-height: 2rem;
	padding: 0.2rem 0;
}

.row .part-1 {
	width: 59%;
	display: flex;
	align-items: center;
}

.row .part-2 {
	width: 41%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.row.today,
.row.today a {
	color: orange;
}

.row.tomorrow,
.row.tomorrow a {
	color: orangered;
}

.row.week,
.row.week a {
	color: orchid;
}

/* ? On met .passed après .today pour qu'il soit prioritaire sur les autres */
.row.passed a,
.row.passed {
	color: #181818;
}

.row.today a.link:hover,
.row.tomorrow a.link:hover,
.row.week a.link:hover,
.row.passed a.link:hover {
	color: rgb(0, 119, 255);
	transition: 1s;
}

.table-content .row:hover {
	background-color: #414141;
	transition: 0.2s;
}

#table .cell {
	overflow: hidden;
}

#table .buttons {
	width: 8%;
	margin: 0 4% 0 1%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#table .buttons .delete {
	cursor: pointer;
}

#table .buttons form.delete .button {
	margin: 0;
}

#table .buttons .button {
	padding: 2px;
	color: #ccc;
	background-color: #414141;
	border: 1px solid #252525;
	border-radius: 3px;
	transition: 0.1s;
}

#table .buttons .button:hover {
	background-color: #323232;
	transition: 0.1s;
}

#table .buttons .show:hover .button {
	color: rgb(0, 119, 255);
	transition: 0.2s;
}

#table .buttons .edit:hover .button {
	color: orangered;
	transition: 0.2s;
}

#table .buttons .delete:hover .button {
	color: red;
	transition: 0.2s;
}

#table .material-icons {
	display: flex;
}

#table .datetime {
	width: 22%;
}

.table-content .datetime {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.datetime .datetime-relative {
	width: 25%;
}

.datetime .datetime-absolute {
	width: 75%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#table .category {
	width: 25%;
	padding-right: 1rem;
}

#table .title {
	/* width        : 40%; */
	padding-right: 1rem;
}

#table .links {
	display: none;
	color: #ccc;
}

#table .links .link {
	transition: 0.1s;
}

/* #table .links .link:hover {
    color     : rgb(0, 119, 255);
    transition: .1s;
} */

#table a {
	text-decoration: none;
}

/* ! - Responsive =======================================================================================================*/

@media screen and (min-width: 767px) {
	#table .table-header .buttons {
		width: 20%;
	}

	#table .buttons {
		width: 17%;
		margin: 0;
		flex-direction: row;
	}

	#table .buttons :nth-child(2) {
		margin: 0 0.2rem;
	}

	#table .datetime {
		width: 15%;
	}
}

@media screen and (min-width: 992px) {
	#table .table-header .buttons,
	#table .buttons {
		width: 24%;
	}

	#table .buttons :nth-child(2) {
		margin: 0 0.5rem;
	}

	#table .table-header .datetime {
		margin-left: 7%;
		width: 22%;
		text-align: center;
	}

	#table .datetime {
		width: 29%;
	}

	#table .category {
		width: 43%;
		margin-left: 4%;
		padding: 0;
	}

	#table .title {
		/* width  : 33%; */
		padding: 0;
	}

	#table .links {
		max-width: 35%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
	}

	#table .table-header .links {
		margin-right: 1em;
	}

	#table .table-content .links {
		justify-content: flex-end;
	}

	#table .table-content .links .link {
		margin: 0 0.4em;
	}
}
