/* ? - La table =================================================================================*/

.row.today,
.row.today a,
.row.tomorrow,
.row.tomorrow a,
.row.week,
.row.week a,
.row.passed a,
.row.passed {
	color: #ccc;
}

.row.today .datetime time.datetime-relative,
.row.today .datetime time.datetime-absolute {
	color: orange;
}

.row.tomorrow .datetime time.datetime-relative,
.row.tomorrow .datetime time.datetime-absolute {
	color: orangered;
}

.row.week .datetime time.datetime-relative,
.row.week .datetime time.datetime-absolute {
	color: orchid;
}

/* ? On met .passed après .today pour qu'il soit prioritaire sur les autres */
.row.passed .datetime time.datetime-relative,
.row.passed .datetime time.datetime-absolute {
	color: #181818;
}
