.event-show {
	width: 50vw;
	background-color: #323232;
	padding: 1rem;
	display: flex;
	flex-direction: column;
}

.header-line {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.header-line .datetime {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.header-line .datetime p {
	margin: 0;
}

.header-line .links {
	display: flex;
}

.header-line .links form.delete button {
	all: unset;
	text-decoration: underline;
	cursor: pointer;
}

.header-line .links a,
.header-line .links form.delete button {
	margin-left: 0.4rem;
}

.category-line {
	display: flex;
	justify-content: space-between;
	justify-content: flex-end;
	align-items: center;
	font-style: italic;
}

.title-line {
	margin: 2rem 0;
}

.title-line .parent-event {
	margin-bottom: 1rem;
	text-align: center;
}

.title-line .title {
	display: flex;
	justify-content: center;
	align-items: center;
}

.description-line {
	width: 80%;
	align-self: center;
}

.description {
	width: fit-content;
	padding: 1rem;
}

.links-line {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.links-line .link {
	transition: 0.2s;
}

.links-line .link:hover {
	color: rgb(0, 119, 255);
	transition: 0.2s;
}

ul.links-line .link.live {
	order: 1;
}

ul.links-line .link.replay {
	order: 2;
}

ul.links-line .link.info {
	order: 3;
}

ul.links-line .link.add-link {
	order: 4;
}
