.chronoForm {
	display: flex;
	justify-content: center;
	flex-direction: column;
	/* height           : 25rem; */
	background-repeat: no-repeat;
	background-size: auto;
}

.chrono {
	position: relative;
	display: flex;
	justify-content: center;
	width: 15rem;
}

#chronotime.textChrono {
	background-color: rgb(167, 167, 167);
	box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}

.textChrono {
	text-align: center;
	height: 40px;
	border-radius: 15px;
}

.formClock {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 10rem;
	background-image: url('public/images/horloge.png');
	background-repeat: no-repeat;
	background-size: 40%;
	background-position-x: center;
	background-position-y: 2.1rem;
}

.clock {
	margin-bottom: 1.5rem;
	background-size: cover;
	width: 3.5rem;
	height: 3.5rem;
	position: relative;
}

.clock-face {
	position: relative;
	width: 100%;
	height: 100%;
	transform: translateY(-3px);
}

.hand {
	width: 50%;
	height: 5px;
	background: rgb(240, 240, 240);
	position: absolute;
	top: 50%;
	transform-origin: 100%;
	transform: rotate(90deg);
	transition: all 0.05s;
	transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.min-hand {
	border-radius: 25px;
	background-color: rgb(255, 111, 111);
}

.second-hand {
	border-radius: 25px;
	background: rgb(250, 199, 88);
}

.miliSecond-hand {
	border-radius: 25px;
	background: rgba(240, 163, 21, 0.438);
}
