header {
	display: flex;
	align-items: center;
	height: 10%;
	width: 100%;
}

.header-first {
	width: 10%;
}

.header-second {
	width: 89%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header-second a {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 1%;
	font-size: 3rem;
}

header .icon-img {
	height: 8vh;
}

.header-first a {
	height: 100%;
}

.h1 {
	font-size: 2rem;
}
