body {
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
	height: 100%;
	width: 99%;
	background-color: rgba(245, 148, 21, 0.733);
}

.main-container {
	height: 60%;
	margin: 10%;
}

.titre {
	display: flex;
	justify-content: center;
	align-items: center;
}

.firstContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.container1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	height: 40%;
}

.container2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.container3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.container4 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 60%;
	height: 50%;
	background-color: rgb(45, 49, 66);
	color: rgb(255, 255, 255);
	border-radius: 10px;
	font-size: 3rem;
}

h2 {
	margin: 10px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	background-color: rgb(45, 49, 66);
	color: rgb(255, 255, 255);
	border-radius: 10px;
	font-size: 2rem;
	-webkit-box-shadow: -15px -7px 21px 0px rgba(0, 0, 0, 0.75);
	box-shadow: -15px -7px 21px 0px rgba(0, 0, 0, 0.75);
}

.submit1 {
	font-size: 50px;
	display: flex;
	justify-content: center;
	width: 100%;
	color: rgb(255, 255, 255);
	background: none;
	border-radius: 10px;
	cursor: pointer;
}

.submit:hover {
	background-color: rgb(255, 110, 47);
	cursor: pointer;
}

.submit {
	display: flex;
	justify-content: center;
	width: 50%;
	color: rgb(255, 255, 255);
	background-color: rgb(45, 49, 66);
	border-radius: 10px;
	position: relative;
	cursor: pointer;
}

.submit::before,
.submit::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(
		45deg,
		#ff5100,
		#d4a50d,
		#eaf73d,
		#ffbb00,
		#ff0000,
		#edf106,
		#e6b105,
		#ffe600,
		#f0610f
	);
	width: 100%;
	height: 100%;
	transform: scale(1.02);
	z-index: -1;
	border-radius: 10px;
	background-size: 500%;
	animation: animate 20s infinite;
}

.submit::after {
	filter: blur(20px);
}

@keyframes animate {
	0% {
		background-position: 0 0;
	}

	50% {
		background-position: 300% 0;
	}

	100% {
		background-position: 0 0;
	}
}

.section {
	padding: 50px;
	padding-left: 150px;
}

.section input[type='radio'] {
	display: none;
}

.container {
	font-size: 25px;
	margin-bottom: 5px;
}

.container label {
	position: relative;
}

.container span::before,
.container span::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

/* Radio buttons */
.container span.radio:hover {
	cursor: pointer;
}

.container span.radio::before {
	left: -52px;
	width: 45px;
	height: 25px;
	background-color: rgb(122, 122, 122);
	border-radius: 50px;
}

.container span.radio::after {
	left: -49px;
	width: 17px;
	height: 17px;
	border-radius: 10px;
	background-color: rgb(45, 49, 66);
	transition: left 0.25s, background-color 0.25s;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

input[type='radio']:checked + label span.radio::after {
	left: -27px;
	background-color: rgb(255, 110, 47);
}

.france {
	display: flex;
	flex-direction: row;
	margin-left: 46%;
	margin-top: -25rem;
}

.img1 {
	margin-left: 100px;
	position: absolute;
	clip: rect(0px, 100px, 100px, 0px);
	transition: 1s;
}

.img1:hover {
	transition: 1s;
	transform: translateX(-45px);
}

.imgFrance1 {
	display: flex;
	justify-content: center;
}

.img2 {
	margin-left: 100px;
	position: absolute;
	clip: rect(0px, 200px, 100px, 100px);
	transition: 1s;
}

.img2:hover {
	transition: 1s;
	transform: translateY(-45px);
}

.imgFrance2 {
	display: flex;
	justify-content: center;
}

.img3 {
	margin-left: 100px;
	position: absolute;
	clip: rect(100px, 200px, 200px, 100px);
	transition: 1s;
}

.img3:hover {
	transition: 1s;
	transform: translateX(45px);
}

.imgFrance3 {
	display: flex;
	justify-content: center;
}

.img4 {
	margin-left: 100px;
	position: absolute;
	clip: rect(100px, 100px, 200px, 0px);
	transition: 1s;
}

.img4:hover {
	transition: 1s;
	transform: translateY(45px);
}

.imgFrance4 {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 767px) {
	.france {
		display: none;
	}

	.titre {
		display: block;
	}

	.titre h1 {
		font-size: 2rem;
		width: auto;
		height: auto;
	}

	.firstContainer {
		flex-direction: column;
	}

	.container1,
	.container2 {
		width: auto;
		height: auto;
	}

	.container1 h2,
	.container2 h2 {
		padding: 1vh;
		margin-top: 3vh;
	}

	.section {
		padding: 0;
		padding-left: 0;
	}
}
