html {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
	height: 100%;
	width: 100%;
	background-color: orange;
}

.noDisplay {
	display: none;
}

.number {
	padding: 0.1vh;
	border-radius: 10%;
}

#orange {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 85%;
	flex-direction: row;
}

#board1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#image {
	width: auto !important;
}

#img {
	max-width: 90%;
	height: 40%;
	background-color: darkgray;
	border: solid black 1px;
	border-radius: 15px;
	padding: 5%;
}

.ligne {
	display: flex;
	border-collapse: collapse;
	margin-top: 0px;
}

.vide {
	fill: darkgray;
}

#canvas-0 {
	margin: 5%;
	display: none;
	border: solid 1px black;
	background-color: chocolate;
	border-radius: 0.5em;
}

.canvas {
	background-color: darkgray;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	margin-top: 1%;
	margin-bottom: 1%;
	height: 8%;
}

#hideHeader,
.endgame-sidebar a,
.header > a {
	background-color: rgb(209, 108, 35);
	padding: 1%;
	text-decoration: none;
	background: rgb(45, 49, 66);
	text-align: center;
	font-size: 2rem;
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border: solid rgb(209, 108, 35) 2px;
	box-shadow: -15px -7px 21px 0px rgba(0, 0, 0, 0.75);
}

.endgame-sidebar a {
	font-size: 1rem;
}

#side-bar {
	margin-right: 2%;
}

/* ! Trés petits écrans (<576px) */

@media screen and (max-width: 575px) {
	#hideHeader,
	.header > a {
		font-size: 0.8rem;
	}

	#orange {
		flex-direction: column;
		height: auto;
	}

	#board1 {
		height: auto;
	}

	#side-bar {
		flex-direction: column-reverse;
		width: auto;
	}

	.chronoForm {
		display: none !important;
	}
}

/* ! Petits écrans (<768px) */

@media screen and (min-width: 576px) and (max-width: 767px) {
	#hideHeader,
	.header > a {
		font-size: 0.8rem;
	}

	#orange {
		flex-direction: column;
		height: auto;
	}

	#board1 {
		height: auto;
	}

	#side-bar {
		flex-direction: column-reverse;
		width: auto;
	}

	.chronoForm {
		display: none !important;
	}
}

/* ! Écrans normaux (<992px) */

@media screen and (min-width: 768px) and (max-width: 991px) {
	#hideHeader,
	.header > a {
		font-size: 1.2rem;
		padding-left: 2vh;
		padding-right: 2vh;
	}

	#orange {
		flex-direction: column;
		height: auto;
	}

	#board1 {
		height: auto;
	}

	#side-bar {
		flex-direction: column-reverse;
		width: auto;
	}

	.chronoForm {
		display: none !important;
	}
}

/* ! Grands écrans (<1200px) */

@media screen and (min-width: 992px) and (max-width: 1199px) {
	#hideHeader,
	.header > a {
		font-size: 1.2rem;
		padding-left: 2vh;
		padding-right: 2vh;
	}

	#side-bar {
		flex-direction: column;
		width: 30%;
	}
}

/* ! Trés grands écrans (>=1200px) */

@media screen and (min-width: 1200px) {
	#hideHeader,
	.header > a {
		font-size: 2rem;
	}

	#side-bar {
		flex-direction: column;
		width: 30%;
	}
}

#hideHeader,
a:hover {
	color: rgb(209, 108, 35);
	border-radius: 10px;
	color: rgb(45, 49, 66);
	background-color: rgb(209, 108, 35);
	border: solid rgb(45, 49, 66) 2px;
}

#side-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 100%;
}

#p {
	align-items: center;
	justify-content: center;
	text-align: center;
}

#div {
	cursor: pointer;
	background-color: darkgray;
	border: solid black 1px;
	border-radius: 25px;
}

.paysage {
	padding: 5%;
}

.portrait {
	transform: scale(1.3, 1.3);
	padding: 2%;
}

#lastDiv {
	display: flex;
	height: 80%;
	transform: scale(1.3, 1.3);
	align-items: center;
}

#lastDiv img {
	border: 1px black solid;
	max-height: 80%;
}

.endgame-sidebar {
	margin-left: 4vh;
}

.vide {
	cursor: initial;
}

#texte-fin-de-partie {
	text-align: center;
	margin-left: 3vh;
}

.signe {
	height: 10%;
}

#form {
	visibility: hidden;
}

.difficulty-change-form {
	margin-top: 2%;
}

#displayNumbers {
	margin: 2vh;
	display: none;
}

#difficulty-input {
	width: 2rem;
}
