html,
body {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

html {
	background-color: rgba(245, 148, 21, 0.733);
}

.main-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(245, 148, 21, 0.657);
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* border: 0.2px rgba(0, 0, 0, 0.3) solid; */
	/* border-radius : 2rem; */
	padding: 2rem;
	width: min-content;
}

.card form {
	display: flex;
	flex-direction: column;
}

.card h2 {
	margin: 0;
	margin-bottom: 2%;
}

.card-content > * {
	margin-top: 2%;
	margin-bottom: 2%;
}

.other {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25rem;
}

.other p {
	margin-right: 1.5%;
}

#submit-button {
	color: white;
	background-color: #0095f6;
	cursor: pointer;
	border-radius: 0.2rem;
}
