body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: rgba(245, 148, 21, 0.733);
	height: 100%;
	font-family: 'PT Sans', sans-serif;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 40%;
	height: 50px;
	background-color: rgb(255, 110, 47);
	color: rgb(45, 49, 66);
	border-radius: 10px;
	font-size: 1.5rem;
	border: solid rgb(45, 49, 66) 2px;
	padding: 1vh;
}

.map {
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
	width: 100%;
	height: 100%;
}

.map__image {
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 43%;
	float: left;
	position: relative;
	margin-left: 5%;
}

.map__image path {
	stroke: rgb(45, 49, 66);
	fill: darkgray;
	stroke-width: 1px;
	transition: fill 0.3s;
}

.map__image path:hover {
	fill: rgba(245, 148, 21, 0.05);
	stroke-width: 1px;
	transition: fill 0.5s;
	cursor: pointer;
}

svg {
	position: absolute;
}

.map__image path.finie {
	fill: rgba(245, 148, 21, 0.733);
}

.map__list {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10%;
}

.map__list .is-active {
	color: rgb(255, 255, 255);
	transition: color 0.3s;
}

ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	font-size: 200%;
	justify-content: center;
	padding-left: 0;
	/* margin-left    : 30%; */
}

li > p {
	margin: 0px;
	font-size: x-large;
}

.nom-region {
	display: flex;
	justify-content: flex-start;
	width: 70%;
}

.retour {
	font-size: 40px;
	width: 40%;
	height: 30%;
	color: rgb(255, 255, 255);
	background-color: rgb(45, 49, 66);
	display: flex;
	justify-content: center;
	border-radius: 10px;
	border: solid rgb(255, 110, 47) 2px;
	-webkit-box-shadow: -15px -7px 21px 0px rgba(0, 0, 0, 0.75);
	box-shadow: -15px -7px 21px 0px rgba(0, 0, 0, 0.75);
	margin-left: 20%;
}

.retour:hover {
	background-color: rgb(255, 110, 47);
	border: solid rgb(45, 49, 66) 2px;
}

.accueil {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.accueil:hover {
	color: rgb(45, 49, 66);
}
