html {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
	height: 100%;
	width: 100%;
	background-color: orange;
}

header {
	margin-top: 2vh;
	display: flex;
	justify-content: space-around;
	position: sticky;
	top: 0;
	z-index: 1;
}

header a {
	background-color: rgb(209, 108, 35);
	padding: 1%;
	text-decoration: none;
	background: rgb(45, 49, 66);
	text-align: center;
	font-size: 2rem;
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border: solid rgb(209, 108, 35) 2px;
	box-shadow: -15px -7px 21px 0px rgba(0, 0, 0, 0.75);
}

header a:hover {
	border-radius: 10px;
	color: rgb(45, 49, 66);
	background-color: rgb(209, 108, 35);
	border: solid rgb(45, 49, 66) 2px;
}

ul {
	padding: 0;
}

.image-container {
	display: flex;
	flex-wrap: wrap;
	width: 27%;
	align-items: center;
	flex-direction: column;
	margin: 2%;
	position: relative;
	transition: 0.3s;
	border: 1px black solid;
	border-radius: 5%;
	padding: 1%;
	background-color: darkgray;
}

.image-container:hover {
	transition: 0.3s;
	width: 31%;
	margin: 0;
	position: relative;
}

.image {
	width: 100%;
	cursor: pointer;
}

.image-name {
	/* margin-top            : 2%; */
	background-color: black;
	color: white;
	border-radius: 50%;
	padding: 2%;
	height: 1.3em;
	width: 1.3em;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 1.5rem;
	left: 1.5rem;
	cursor: pointer;
}

ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}
