html {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
	height: 100%;
	width: 100%;
	background-color: orange;
	display: flex;
	justify-content: center;
	align-items: center;
}

#formulaire {
	text-align: center;
}
