<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={% block meta_description %}{% endblock %} />
		<title>
			{% block title %}
				Valentin Silvestre
			{% endblock %}
		</title>

		<link rel="icon" href="{{ asset('favicon.ico') }}" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Ubuntu&display=swap"
			rel="stylesheet" />

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="{{ asset('js/functions.js') }}"></script>
			<script src="{{ asset('js/cookies.js') }}"></script>
		{% endblock %}
	</head>

	<body>
		{% block body %}
			<header>
				{% block header %}
					<nav>
						{% block nav %}
							<a class="home" href="{{ path('app_homepage') }}">Home</a>
							{% if app.user %}
								<a href="{{ path('app_logout') }}">Logout</a>
							{% endif %}
						{% endblock %}
					</nav>

					{% block header_content %}

					{% endblock %}

					{% block login %}
						{% if app.user %}
							<div class="user">
								<img src="{{ asset(user_profile_picture_dir ~ app.user.picture) }}"
									alt="{{ app.user }} profile picture" />
							</div>
						{% else %}
							<a href="{{ path('app_login') }}" class="login text-primary center-flex">
								<svg class="icon">
									<g>
										<path d="M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10s10-4.48,10-10C22,6.48,17.52,2,12,2z M12,3c4.96,0,9,4.04,9,9 c0,1.42-0.34,2.76-0.93,3.96c-1.53-1.72-3.98-2.89-7.38-3.03C14.57,12.6,16,10.97,16,9c0-2.21-1.79-4-4-4C9.79,5,8,6.79,8,9 c0,1.97,1.43,3.6,3.31,3.93c-3.4,0.14-5.85,1.31-7.38,3.03C3.34,14.76,3,13.42,3,12C3,7.04,7.04,3,12,3z M9,9c0-1.65,1.35-3,3-3 s3,1.35,3,3c0,1.65-1.35,3-3,3S9,10.65,9,9z M12,21c-3.16,0-5.94-1.64-7.55-4.12C6.01,14.93,8.61,13.9,12,13.9 c3.39,0,5.99,1.03,7.55,2.98C17.94,19.36,15.16,21,12,21z"
											fill="#0d6efd"></path>
									</g>
								</svg>
								<p>
									sign in
								</p>
							</a>
						{% endif %}
					{% endblock %}
				{% endblock %}
			</header>

			{% block main %}

			{% endblock %}
		{% endblock %}
	</body>
</html>
