body {
	background-color: #0b3d6d;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
}

#canvas {
	margin: 2em;
	border: 1px solid #000000;
}

#reversedSpeed {
	direction: rtl;
}

.options {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px #ccc solid;
	padding: 1rem;
	border-radius: 10px;
}
.options .field {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.options .field input {
	width: 4rem;
	margin-left: 2rem;
	padding: 0.2rem;
	text-align: center;
}
.options button {
	margin-top: 1rem;
	padding: 0.4rem;
}

.grid {
	display: grid;
	grid-template-rows: repeat(10, 1rem);
	grid-template-columns: repeat(20, 1rem);
	grid-gap: 1px;
	background-color: #000;
	border: #000 1px solid;
	border-collapse: collapse;
	margin-bottom: 2rem;
}

.cell {
	background-color: #0b3d6d;
}

.cell.alive {
	background-color: #111;
}

.disable {
	background-color: coral;
}

.options button {
	all: unset;
	margin-top: 1rem;
	border: 2px #ccc solid;
	border-radius: 30px;
	padding: 1rem;
	background-color: #464646;
	color: #78cc78;
	cursor: pointer;
	transition: 0.1s;
	font-size: large;
}

.options button.running {
	content: 'Stop';
	color: #cc7878;
}

/*# sourceMappingURL=style.css.map */
