{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/taquin/style.css') }}" />
{% endblock %}

{% block title %}
	Taquin
{% endblock %}

{% block nav %}
	{{ parent() }}
	<span class="material-icons">navigate_next</span>
	<a href="">Taquin</a>
{% endblock %}
