{% extends 'taquin/base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/taquin/Position.js') }}"></script>
	<script src="{{ asset('js/taquin/Grid.js') }}"></script>
	<script src="{{ asset('js/taquin/functions.js') }}"></script>
	<script src="{{ asset('js/taquin/script.js') }}"></script>
{% endblock %}

{% block main %}
	<main class="taquin">
		<div class="game">
			<div id="canvas-list"></div>
			<img id="source-image" src="{{ asset('images/taquin/18.jpg') }}" alt="" />
		</div>
	</main>
	<aside class="options">
		<img id="preview-image" src="{{ asset('images/taquin/18.jpg') }}" alt="" />
		<form action="" class="difficulty-container" method="post">
			<label for="difficulty">Difficulty</label>
			<input type="range" name="difficulty" id="difficulty" min="2" max="6" step="1" value="{{ size }}" />
			<p id="difficulty-output"></p>
			<button type="submit">Submit</button>
		</form>
	</aside>
	<aside class="end-game">
		<p>
			Bravo
		</p>
	</aside>
{% endblock %}
