{{ form_start(form, {'attr': {'id': 'form', 'class': 'form'}}) }}

<div class="form-container">
    <section class="event-informations">
        <fieldset class="event-info">
            <div class="field name">
                {{ form_label(form.name, 'Name') }}
                {{ form_widget(form.name) }}
            </div>
            <div class="field parentCategory">
                {{ form_label(form.parentCategory, 'Parent Category') }}
                {{ form_widget(form.parentCategory) }}
            </div>
        </fieldset>
    </section>
</div>

<div class="form-footer">
    <button type="submit" class="btn submit-button">
        {{ button_label|default('Submit') }}
    </button>
</div>

{{ form_end(form) }}
