{% extends 'calendar/base.html.twig' %}

{% block title %}
	New Category
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('styles/calendar/newCategory.css') }}" />
	<link rel="stylesheet" href="{{ asset('styles/calendar/form.css') }}" />
{% endblock %}

{% block main %}
	<h1>
		New Category
	</h1>

	<main>
		<div class="main-container">
			{{ include('calendar/category/_form.html.twig') }}
		</div>
	</main>
{% endblock %}
