<form method="post"
	action="{{
	path(
		'event_delete',
		{
			id: event.id
		}
	)
	}}"
	onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}" />
	<button class="btn">Delete</button>
</form>
