{{ form_start(form, {'attr': {'id': 'form', 'class': 'form'}}) }}

<div class="form-container">
    <section class="event-informations">
        <fieldset class="event-info">
            <div class="field title">
                {{ form_label(form.title, 'Title') }}
                {{ form_widget(form.title) }}
            </div>
            <div class="field datetime">
                {{ form_label(form.date, 'Date') }}
                {{ form_widget(form.date) }}
            </div>
            <div class="field category">
                {{ form_label(form.categories, 'Categories') }}
                {{ form_widget(form.categories) }}
            </div>
            <div class="field isGlobal">
                {{ form_label(form.isGlobal, 'Global Event') }}
                {{ form_widget(form.isGlobal) }}
            </div>
            <div class="field parentEvent">
                {{ form_label(form.parentEvent, 'Parent Event') }}
                {{ form_widget(form.parentEvent) }}
            </div>
            <div class="field description">
                {{ form_label(form.description, 'Description') }}
                {{ form_widget(form.description) }}
            </div>
        </fieldset>
    </section>

    <ul id="event-links">
        {% for link in form.links %}
        <li class="event-link">
            {{ form_row(link.url) }}
            {{ form_row(link.title) }}
            {{ form_row(link.type) }}
        </li>
        {% endfor %}
    </ul>
</div>

<div class="form-footer">
    <button type="submit" class="btn submit-button">
        {{ button_label|default('Submit') }}
    </button>
</div>

{{ form_end(form) }}
