{% extends 'calendar/base.html.twig' %}

{% block title %}
	Edit - {{ event.getTitle() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/remove.js') }}"></script>
{% endblock %}

{% block main %}
	<h1>
		Edit - {{ event.getTitle() }}
	</h1>

	<main class="edit">
		<div class="main-container">
			<div class="links header">
				{% if event.getParentEvent() %}
					<a href="{{
						path(
							'event_show',
							{
								id: event.getParentEvent.getId()
							}
						)
						}}">
						Main event
					</a>
				{% endif %}

				<a class="show"
					href="{{
					path(
						'event_show',
						{
							id: event.getId()
						}
					)
					}}">
					Show
				</a>

				<form class="delete"
					method="post"
					action="{{
					path(
						'event_delete',
						{
							id: event.id
						}
					)
					}}"
					onsubmit="return confirm('Are you sure you want to delete this item?');">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}" />
					<button>Delete</button>
				</form>
			</div>

			{{
				include(
					'calendar/event/_form.html.twig',
					{
						button_label: 'Update'
					}
				)
			}}
		</div>
	</main>
{% endblock %}
