{% extends 'calendar/base.html.twig' %}

{% block title %}
	New Event
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/calendar/remove.js') }}"></script>
	<script src="{{ asset('js/calendar/newEvent.js') }}"></script>
{% endblock %}

{% block main %}
	<h1>
		New Event
	</h1>

	<main class="new">
		<div class="main-container">
			{{ include('calendar/event/_form.html.twig') }}
		</div>
	</main>
{% endblock %}
