{% extends 'calendar/base.html.twig' %}

{% block title %}
	{{ event.getTitle() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/calendar/showEvent.js') }}"></script>
{% endblock %}

{% block main %}
	<main class="showEvent jcs">
		<div class="main-container">
			<div class="event-show">
				<div class="header-line line">
					<div class="datetime">
						<p>
							{{ date }}
						</p>
						<p>
							{{ time }}
						</p>
					</div>
					{% if event.getParentEvent() %}
						<p class="parent-event">
							<a href="{{
								path(
									'event_show',
									{
										id: event.getParentEvent.getId()
									}
								)
								}}">
								{{ event.getParentEvent.getTitle() }}
							</a>
						</p>
					{% endif %}
					<div class="links">
						<a href="{{
							path(
								'event_edit',
								{
									id: event.getId()
								}
							)
							}}">
							Edit
						</a>

						<form class="delete"
							method="post"
							action="{{
							path(
								'event_delete',
								{
									id: event.id
								}
							)
							}}"
							onsubmit="return confirm('Are you sure you want to delete this item?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}" />
							<button>Delete</button>
						</form>
					</div>
				</div>
				<div class="title-line line">
					<h1 class="title">
						{{ event.getTitle() }}
					</h1>
				</div>
				<div class="category-line line">
					{% for category in event.getCategories() %}
						<p class="category">
							{{ category }}
						</p>
					{% endfor %}
				</div>
				<div class="description-line line">
					<div class="description">
						{{ event.getDescription()|nl2br }}
					</div>
				</div>

				{% if event.isGlobal %}
					<h2>
						Sub events
					</h2>
					{% if event.subEvents|length > 0 %}
						<ul class="subEvents">
							{% for subEvent in event.subEvents|sort((a,b) => a.date <=> b.date) %}
							<li>
								<time>{{ subEvent.date|date('M d, h:i A') }}</time>
								<a href="{{
									path(
										'event_show',
										{
											id: subEvent.getId()
										}
									)
									}}"
									class="title">
									{{ subEvent.title }}
								</a>
							</li>
							{% endfor %}
						</ul>
					{% else %}
						<p>
							None
						</p>
					{% endif %}
				{% endif %}

				<ul class="links-line line">
					{% for link in event.getLinks() %}
						<a class="link {{ link.getType()|lower }}" href="{{ link.getUrl() }}" target="_blank">
							<abbr title="{{ link.getTitle() }}" class="material-icons">{{ link }}</abbr>
						</a>
					{% endfor %}
					{% for link in event.getParentLinks() %}
						<a class="link {{ link.getType()|lower }}" href="{{ link.getUrl() }}" target="_blank">
							<abbr title="{{ link.getTitle() }}" class="material-icons">{{ link }}</abbr>
						</a>
					{% endfor %}
					<a href="{{
						path(
							'link_new',
							{
								eventId: event.getId()
							}
						)
						}}"
						class="link add-link">
						<abbr title="Add link" class="material-icons">add_circle</abbr>
					</a>
				</ul>
			</div>
		</div>
	</main>
{% endblock %}
