.sf-toolbar {
	display: none !important;
}

html,
body {
	height: 100%;
}

body {
	grid-template-columns: 65% 35%;
	align-items: flex-start;
}

header {
	grid-column: span 2;
}

main.taquin {
	margin: 5px;
	grid-column: span 1;
	width: 100%;
	max-height: 95vh;
}

@media (orientation: portrait) {
	main.taquin,
	aside.options,
	aside.end-game {
		grid-column: span 2;
	}
}

aside {
	margin: 5px;
	grid-column: span 1;
	padding: 1rem;
	box-shadow: 2px 2px 1px #111;
	background-color: #323232;
	justify-self: center;
	display: flex;
	flex-direction: column;
}

aside.end-game {
	display: none;
}

form.difficulty-container {
	display: grid;
	justify-items: center;
	grid-template-columns: auto auto auto;
	row-gap: 1rem;
	margin-top: 1rem;

	input {
		width: 8rem;
	}

	p {
		text-align: center;
	}

	button {
		grid-column: span 3;
		align-self: center;
		justify-self: center;
	}
}

.game {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	padding: 1rem;
	width: 100%;
}

#canvas-list {
	display: grid;
	gap: 2px;
	transition: 0.1s;
}

#empty-canvas {
	opacity: 0;
}

.game.finish #canvas-list {
	gap: 0;
	transition: 0.1s;
}

.canvas-container {
	z-index: 1;
}

#source-image {
	opacity: 0;
	max-height: 80%;
	max-width: 100%;
	z-index: -1;
}

#preview-image {
	width: 80%;
	align-self: center;
}

canvas {
	transition: 1s all ease;
}
